@import 'tailwindcss';
@import './css/_responsive.css';
@import './css/_utilities.css';
@import './css/_colors.css';
@import './css/_type.css';
@import './css/_prose.css';
@import './css/_lenis.css';
@import 'marqy/dist/marqy.css';
@plugin "@tailwindcss/typography";
@plugin "tw-easing-gradients";

@theme {
  /* (mirror breakpoints in _responsive.css if edited) */
  --breakpoint-*: initial;
  --breakpoint-sm: 37.5rem; /* 600px */
  --breakpoint-md: 48rem; /* 768px */
  --breakpoint-lg: 64rem; /* 1024px */
  --breakpoint-xl: 80rem; /* 1280px */
  --breakpoint-2xl: 90rem; /* 1440px */
  --breakpoint-3xl: 100rem; /* 1600px */
  --breakpoint-4xl: 120rem; /* 1920px */
  /* --breakpoint-5xl: 140rem; 2240px */
  /* --breakpoint-6xl: 160rem; 2560px */

  --container-8xl: 90rem; /* 1440px */
  --container-9xl: 100rem; /* 1600px */
  --container-10xl: 120rem; /* 1920px */

  --ease-*: initial;
  --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
  --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
  --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
  --ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  --ease-gleasing: cubic-bezier(0.4, 0, 0, 1);

  --leading-*: initial;
  --tracking-*: initial;

  --spacing: 0.0625rem;
  --spacing-em: 1em;
  --spacing-gut: var(--gut);
  --spacing-gut-25: calc(var(--gut) / 4);
  --spacing-gut-33: calc(var(--gut) / 3);
  --spacing-gut-50: calc(var(--gut) / 2);
  --spacing-gut-66: calc(var(--gut) / 1.5);
  --spacing-gut-75: calc(var(--gut) * 0.75);
  --spacing-gut-100: var(--gut);
  --spacing-gut-150: calc(var(--gut) * 1.5);
  --spacing-gut-200: calc(var(--gut) * 2);
  --spacing-gut-250: calc(var(--gut) * 2.5);
  --spacing-gut-300: calc(var(--gut) * 3);
  --spacing-gut-400: calc(var(--gut) * 4);
  --spacing-gut-500: calc(var(--gut) * 5);
  --spacing-gut-600: calc(var(--gut) * 6);
  --spacing-gut-700: calc(var(--gut) * 7);
  --spacing-gut-800: calc(var(--gut) * 8);
  --spacing-gut-900: calc(var(--gut) * 9);
  --spacing-gut-1000: calc(var(--gut) * 10);
  --spacing-section: calc(var(--gut) * 4);
  --spacing-button-x: 0.9em;
  --spacing-button-y: 0.7em;
  --spacing-outdent: -0.03125em;
  --spacing-max-ch: 55ch;
  --spacing-header: calc(var(--gut) * 2);

  --radius-xs: 2px;
  --radius-sm: 3px;
}

body {
  @apply antialiased min-w-360 selection:bg-sage-700/50;
}

button {
  @apply cursor-pointer;
}

.corner {
  @apply overflow-hidden rounded-xs 2xl:rounded-sm;
}

.paused-by-button [data-marqy] > [data-marqy-inner] > [data-marqy-content] {
  animation-play-state: paused;
}
