:root {
  --sage-900-oklch: 0.2472 0.0323 171.5;
  --sage-800-oklch: 0.4071 0.1031 153.8;
  --sage-700-oklch: 0.4938 0.099 168.4;
  --sage-200-oklch: 0.8724 0.046 162.3;
  --sage-100-oklch: 0.9575 0.0301 148.3;
  --offwhite-oklch: 0.9729 0.0101 145.3;
  --olive-oklch: 0.7925 0.1787 114.4;
}

.light-theme {
  --theme-bg: oklch(var(--sage-100-oklch));
  --theme-bg-subtle: oklch(var(--sage-200-oklch));

  --theme-body: oklch(var(--sage-900-oklch));
  
  --theme-photo-tint: oklch(var(--sage-700-oklch) / 0.6);
  --theme-divider: oklch(var(--sage-900-oklch));

  --theme-current-bg: var(--theme-bg);
  .bg-bg-subtle {
    --theme-current-bg: var(--theme-bg-subtle);
  }
}

@theme {
  --color-sage-900: oklch(var(--sage-900-oklch));
  --color-sage-800: oklch(var(--sage-800-oklch));
  --color-sage-700: oklch(var(--sage-700-oklch));
  --color-sage-200: oklch(var(--sage-200-oklch));
  --color-sage-100: oklch(var(--sage-100-oklch));
  --color-offwhite: oklch(var(--offwhite-oklch));
  --color-olive: oklch(var(--olive-oklch));
}

@theme inline {
  --color-bg: var(--theme-bg);
  --color-bg-subtle: var(--theme-bg-subtle);
  --color-body: var(--theme-body);
  --color-photo-tint: var(--theme-photo-tint);
  --color-divider: var(--theme-divider);
  --color-current-bg: var(--theme-current-bg);
}

body,
.light-theme:not(.theme-vars-only) {
  @apply bg-bg text-body;
}
